
main{
   color: #e7e6e6;
    background-color: #000000;
    padding:42px;
    min-height: 90vh;
}
.cart-list-container{
    
    display: flex;
    /* flex-direction: column; */
    gap:44px;
}



.cart-list{
    width:60%;
    display:flex;
    flex-direction: column;
    gap: 22px;
}

.card{
    text-decoration: none;
    display:flex;
    padding:12px 22px;
    /* flex-direction: column; */
    background: #12121290;
    width:100%;
    border-radius: 2px;
   border: 1px solid rgba(86, 86, 86, 0.591);
    overflow: hidden;
    transition:0.3s;

}


.card .image{
    height:150px;
    width:150px;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.card .image img{
    width:100%;
    /* height: 100%; */
    object-fit:contain;
    transition: 0.5s;
}




/* card-info */
.card-info{
   
    display:flex;
    align-items: space-between;
    justify-content: space-evenly;
    gap:45px;
    /* background-color: rgba(242, 242, 242, 0.1); */
    flex:1;
    /* border: 2px solid red; */
}

.card-info-up{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:7px;
}
.title{
     font-size: 1.2em;
    font-weight:bold;
}
.card-info-up .price, .card-info-up .size{
    color:rgb(123, 123, 123);
}






.card-info-dwn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-left:auto;
}

.card-remove{
    color:#bc3232;
    background:none;
    border:none;
    cursor:pointer;
    border:1px solid #ad2b2b;
    padding:8px;
    border-radius: 12px;
    margin:auto;
}
.card-remove:hover{
     color:#ef4444;
}

/* quantity count */

.quantity .q-wrapper {
    display:flex;
     border-radius: 6px;
     overflow: hidden;
     border:1px solid rgba(158, 158, 158, 0.321);
     width:fit-content;
     background: black;
     
}
.quantity h4{
    text-align: end;
    padding-bottom: 12px;
    color:rgb(154, 154, 154);
}
.quantity .q-wrapper button{
    width:44px;
    height: 44px;
    border:none;
    font-size: 16px;
    font-weight: 100;
    background: none;
    cursor:pointer;
     color: #e7e6e6;
}
.quantity .q-wrapper button:hover{
    background-color: #80808038;
}

.quantity .q-wrapper input[type="number"]{
    outline: none;
    width:40px;
    text-align: center;
    border:none;
     font-size: 16px;
     background:none;
     color: #e7e6e6;
 }





 /* order-summary */

 .order-summary{
    padding:2em;
    display: flex;
    flex-direction: column;
    flex:1;
    gap:21px;
    background: #12121290;
    height: fit-content;
    border: 1px solid rgb(72, 72, 72);
 }
 .price-list{
    display:flex;
    flex-direction: column;
    gap:12px;
    width:100%;
 }
 .price-list .prices{
   width:100%;
    display: flex;
    justify-content: space-between;
    color:rgb(131, 131, 131);
 }
 .order-summary button{
    background:rgb(179, 57, 57);
    padding:12px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
 }
 .order-summary button:hover{
    background:#ee3131;
 }






 /* --checkout section ---*/

  .checkout-section{
    padding-top:33px;
  }

  .checkout-section h2{
    margin-bottom: 44px;
  }
  .back-to-checkout-butt{
     margin-bottom: 6px;
     padding:8px;
     cursor: pointer;
  }

  .checkout-container{
    display: grid;
    gap:44px;
    grid-template-columns: 2fr 1.2fr;
    /* border:1px solid red; */
  }


  /* form */
  .form-cell{
    width:100%;
    display: flex;
    flex-direction: column;
  }
  /* 1 */
  .shipping-info{
    margin-bottom: 33px;
  }
 .shipping-info form{
   width:100%;
   padding: 33px 0;
 }

 .shipping-info form div{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:5px;
    padding-bottom:16px;

 }

 form div label{
    color:gray;
 }
 form div input,form div select{
    background: #ffffff17;
    outline: none;
    border: none;
    /* border:1px solid #fe5555; */
    width:100%;
    padding:14px 9px;
    border:1px solid rgba(113, 113, 113, 0.197);
    border-radius: 7px;
    color:white;
 }
 
 form div textarea{
    background: rgba(255, 255, 255, 0.136);
    outline:none;
    border:none;
    height: 80px;
    width:100%;
    border-radius: 7px;
    padding:14px;
 }
 form div input:focus, form div select:focus,form div textarea:focus{
    border:1px solid red;
 } 

  .shipping-info form .form-row{
    display: flex;
    flex-direction: row;
    gap:15px;
    padding:0;
 }


 /* 2 */
 .payment-meth-container > div{
    display:flex;
    flex-direction: column;
    margin:16px 0;
 }

 .payment-meth-container div label{
    display: flex;
    padding:23px;
    gap:12px;
    background-color: #59575751;
    border-radius: 12px;
    accent-color: red;
 }
 



 /* --------animation hide -------- */
 .checkout-section, .card-section{
    display:none;
    transition: 0.5s;
     animation-name: sec_visi;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
 }
 .visible-section{
    display: block;
 }

 @keyframes sec_visi {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
 }