header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding:0px 22px;
    /* border:1px solid red; */
    background:linear-gradient(10deg, rgb(0, 0, 0), rgb(10, 10, 10));
    color:rgb(255, 255, 255);
    /* position:sticky;
    height:100%;
    top:0px;
    left:0px;
    z-index: 99; */
    /* height:72px; */
}

.hero{
    /* order:2; */
    width:100%; 
    background: linear-gradient(-170deg, rgb(0, 0, 0), rgb(23, 23, 23));
    display:flex;
    /* height:257.6px; */
    justify-content: center;
    height: 20vh;
    padding:22px;
    /* position: absolute; */
    /* z-index: 1; */
    /* margin-top: 12px; */
    overflow: hidden;
}
.hero img{
    display:block;
    height:100%;
    width:auto;
    /* transform:translateY(-225px) ; */
}


header .logo-a{
     text-decoration: none;
     display: block;
  filter:drop-shadow(4px 4px 1px rgb(0, 0, 0))
}
header .logo{

    font-size:25px;
    font-weight:bold;
    font-family: sans-serif;
    padding:12px;
    line-height: 1;
    color:rgb(251, 255, 0);
    text-align: left;
}

.head-others{
    /* display:flex; */
}

header nav{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    height:100%;
    /* border:1px solid black; */
}
nav a{
    text-decoration: none;
   color:rgb(255, 255, 255);
    /* border:1px solid green; */
    display: inline-block;
    padding:10px 30px;
}
nav a:hover{
    background-color: rgba(142, 142, 142, 0.584);
}



.search{
    width: 20%;
    max-width: 310px;
    display:flex;
    justify-content: flex-start;
    position:relative;
    /* margin-bottom: 44px; */
}

.search input[type='search']{
    background:rgba(118, 118, 118, 0.352);
    width:100%;
    padding:10px 30px;
    font-size: 18px;
    border-radius: 52px;
    outline: none;
    border:none;
    color:white;
}
.search img{
    width:22px;
    position:absolute;
    right:3%;
    top:50%;
    transform: translateY(-50%);
}

.cart{
    /* border:1px solid white; */
    width:50px;
    height:50px;
    padding:5px;
    background-color: black;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}
.cart:hover{
    background-color: rgba(166, 164, 164, 0.345);
    transform: scale(1.2);
}
.cart img{
    width:50px;
}

.cart .count-dis{
    position:absolute;
    top:10%;
    left: 70%;
    width:25px;
    height:25px;
    background-color: goldenrod;
    padding:3px ;
    border-radius: 50%;
    text-align: center;
    color:black;
    font-weight:bold;
}